<div class="login-form">
    <div class="cont">
        <form (submit)="login()">
            <label>
                E-mail
            </label>

            <div class="email-suggestions">
                <input #inputEmail placeholder="contato@example.com" type="text" name="email" [(ngModel)]="email"
                    (ngModelChange)="onEmailChange($event)" emailAutocomplete #emailAutocomplete="emailAutocomplete"
                    (suggestionSelected)="onSuggestionSelected($event)">

                <ul id="emailAutocompleteList" class="email-suggestions-list">
                    <li *ngFor="let suggestion of emailAutocomplete.suggestionList; let i = index"
                        [ngClass]="{ 'selected': i === activeSuggestion }"
                        (click)="onSuggestionSelected(suggestion)">{{ suggestion }}</li>
                </ul>
            </div>

            <button type="submit">Enviar</button>
            <br>
            <div class="terms-div" (click)="onLabelTermsClick()">
                <input type="checkbox" name="terms" [(ngModel)]="terms" (ngModelChange)="onTermsChange($event)">
                <label>Concordo com os termos de uso.</label>
            </div>
            <div class="div-error">
                <label #error class="error">⠀</label>
            </div>
        </form>
    </div>
</div>