.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cont {
    background-color: #6B5B95;
    width: 250px;
    height: auto;
    padding: 25px 45px 15px 15px;
    border-radius: 15px;
}

.login-form label {
    font-size: 1.2rem;
    margin-bottom: 0px;
    display: block;
    width: 100%;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 15px;
}

.login-form input[type="text"] {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border: none;
    margin-bottom: 0px;
    border-bottom: solid #FFF 4px;
    background-color: transparent;
    color: #FFF;
    outline: none;
    font-weight: bold;
    font-size: 16px;
}

.login-form input[type="text"]::placeholder {
    color: #ffffff97;
}

/* para o Internet Explorer */
input:-ms-input-placeholder {
    color: #ffffff97;
}

/* para o Google Chrome e o Safari */
input::-webkit-input-placeholder {
    color: #ffffff97;
}

.login-form button[type="submit"] {
    width: calc(100% + 30px);
    padding: 10px;
    border: solid #FFF 2px;
    background-color: transparent;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.terms-div {
    display: flex;
    margin-top: 5px;
    cursor: pointer;
}

.terms-div input {
    cursor: pointer;
}

.terms-div label {
    font-size: 14px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.login-form button[type="submit"]:hover {
    background-color: #FFF;
    color: #6B5B95;
}

.div-error {
    margin: 0;
}

.div-error label {
    margin: 0px;
    font-size: 12px;
    color: #FF7F50;
}

#emailAutocompleteList {
    cursor: pointer;
}

.email-suggestions-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 280px;
    overflow-y: auto;
    list-style-type: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.email-suggestions-list li {
    padding: 5px;
    cursor: pointer;
}

.email-suggestions-list li.selected {
    background-color: #00000023;
    color: #6B5B95;
}