.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cont {
    background-color: #6B5B95;
    width: 250px;
    height: auto;
    padding: 25px 45px 15px 15px;
    border-radius: 15px;
}

.login-form label {
    font-size: 1.2rem;
    margin-bottom: 0px;
    display: block;
    width: 100%;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 15px;
}

.login-form input[type="text"] {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border: none;
    margin-bottom: 20px;
    border-bottom: solid #FFF 4px;
    background-color: transparent;
    color: #FFF;
    outline: none;
    font-weight: bold;
    font-size: 16px;
}

.login-form input[type="text"]::placeholder {
    color: #ffffff97;
}

/* para o Internet Explorer */
input:-ms-input-placeholder {
    color: #ffffff97;
}

/* para o Google Chrome e o Safari */
input::-webkit-input-placeholder {
    color: #ffffff97;
}

.login-form button[type="submit"] {
    width: calc(100% + 32px);
    padding: 10px;
    border: solid #FFF 2px;
    background-color: transparent;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.terms-div {
    display: flex;
    margin-top: 5px;
}

.terms-div label {
    font-size: 14px;
    margin-top: 15px;
    margin-left: 10px;
}

.login-form button[type="submit"]:hover {
    background-color: #FFF;
    color: #6B5B95;
}

.div-error label {
    margin-top: 10px;
    font-size: 12px;
    color: #FF7F50;
}

li {
    cursor: pointer;
}