.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cont {
    background-color: #6B5B95;
    width: 270px;
    height: auto;
    padding: 25px 45px 15px 15px;
    border-radius: 15px;
}

.user-form label {
    font-size: 1.2rem;
    margin-bottom: 0px;
    display: block;
    width: 100%;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 15px;
}

.user-form button {
    width: calc(100% + 30px);
    padding: 10px;
    border: solid #FFF 2px;
    background-color: transparent;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.user-form button:hover {
    background-color: #FFF;
    color: #6B5B95;
}

.cont span {
    display: block;
    color: #FFF;
    padding: 5px 0;
}

.hide {
    display: none;
}