@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
}

app-root {
  height: 100%;
  display: block;
}